h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.header {
  width: 100%;
  margin: 5.66em 0;
  padding-left: 50px;
  padding-right: 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  justify-items: start;
}

.menu {
  list-style: circle outside;
  display: flex;
  gap: 32px;
  font-size: 18px;
}

.menu_item_active {
  list-style-type: none;
}

.menu_item_active a {
  text-decoration: none;
}

.header_logo {
  width: 148px;
  height: 105px;
  justify-self: start;
}

.address {
  width: 240px;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 140%;
}

.address a {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  row-gap: 105px;
  position: relative;
  width: 100%;
  padding: 10.1em 0 0 0;
  background: url(../images/cover.jpg) center / cover;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  z-index: -1;
}

.cover .title {
  width: 1100px;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 31px;
  text-transform: uppercase;
  color: #fff;
  line-height: 130%;
}

.cover .align_text_left {
  display: block;
  padding-left: 50px;
}

.cover .align_text_center {
  display: block;
  justify-self: center;
  padding-left: 30px;
}

.cover .align_text_right {
  display: block;
  justify-self: flex-end;
  padding-right: 20px;
  line-height: 140%;
}

.cover .description {
  display: flex;
  gap: 107px;
  align-items: center;
  margin-bottom: 40px;
}

.cover .wide_text {
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  word-spacing: 18px;
  color: #fff;
}

.cover .bet_button {
  padding: 12px 32px 11px 31px;
  border: 1px solid #fff;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
}

.lots {
  width: 1052px;
  margin-top: 185px;
  margin-left: 22px;
}

.lots_title {
  margin-left: 40px;
  margin-bottom: 30px;
}

.lots_list {
  list-style: none;
  display: flex;
  column-gap: 25px;
  flex-wrap: wrap;
}

.lots_item {
  position: relative;
  width: 334px;
  z-index: -2;
}

.card_link, 
.card {
  height: 100%;
}

.card_link {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 38px;
  z-index: -2;
}
    
.card_type_film {
  background: url(../images/card-lot-01.jpg) center / cover;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) center / cover;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) center / cover;
}

.card_title {
  margin-top: 48px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #fff;
}

.card_text {
  margin-bottom: 48px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.more_links {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.about {
  display: grid;
  grid-template-columns: 359px 693px;
  width: 1052px;
  margin-top: 155px;
  margin-left: 22px;
}

.about_logo {
  width: 240px;
  height: 240px;
  margin-left: 46px;
  background-color: #000;
  border-radius: 50%;
  background-image: url(../images/logo-white.svg);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.about_column {
  margin-top: 6.7em;
  align-self: center;
}

.about_column .about_title {
  margin-bottom: 100px;
}

.about_text {
  width: 688px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  min-height: 180px;
  margin-top: 11.45em;
  padding-left: 50px;
  padding-right: 50px;
}

.footer .address {
  justify-self: start;
}

.footer .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  list-style: none;
}

.socialis {
  list-style: none;
  display: flex;
  gap: 50px;
  justify-content: end;
}

.socialis_image {
  width: 48px;
  height: 48px;
}